body {
  margin: 0;
  line-height: normal;
  box-sizing: border-box;
  background-color:#08090c ;
}
.mask-group-icon {
  position: fixed;
  top: -5%;
  right: -5%;
  transform: rotate(-10deg);
  width: 55%;
}
button {
  left: 50%;
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
  margin-top: 32%;
  margin-left: 2%;
}

.button svg {
  height: 24px;
}

button:hover {
  transform: scale(1.02);
}
.background-icon,
.mark-github-24-icon,
.mask-group-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.background-icon {
  height: 99.36%;
  width: 35%;
  top: 0.64%;
  right: 30.96%;
  bottom: 0;
  left: 25.2%;
  border-radius: 130px;
}
.mark-github-24-icon {
  height: 6.18%;
  width: 3.83%;
  top: 90.36%;
  right: 2.19%;
  bottom: 3.46%;
  left: 93.99%;
}
.welcome-hackers-its {
  position: absolute;
  height: 10%;
  width: 18%;
  top: 20%;
  left: 34.53%;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  text-align: justify;
}
.cover-child,
.image-icon {
  position: absolute;
  height: 30%;
  width: 28.5%;
  top: 58.99%;
  /* right: 60.46%; */
  bottom: 10.43%;
  left: 28.4%;
  /* max-width: 100%; */
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cover-child {
  height: 10.44%;
  width: 4.88%;
  top: 27.06%;
  right: 67.35%;
  bottom: 62.5%;
  left: 29%;
  border-radius: 50%;
}
.hacktoberfest-good {
  margin: 0;
}
.hacktoberfest-good-first-container {
  position: absolute;
  height: 20%;
  width: 26.67%;
  top: 6.26%;
  left: 29.95%;
  font-size: 30px;
  letter-spacing: -0.98px;
  line-height: 30px;
  font-family: "Bakbak One";
  display: inline-block;
}
.club-gamma {
  position: absolute;
  height: 14.94%;
  width: 20.32%;
  top: 44.88%;
  left: 2.15%;
  font-size: 70px;
  text-decoration: underline;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 900;
  color: #faf3fc;
  display: flex;
  align-items: center;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  mix-blend-mode: overlay;
}
.cover {
  position: relative;
  background-color: #08090c;
  width: 100%;
  height: 616px;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Inter;
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
  .mask-group-icon {
    position: static;
    transform: rotate(0deg);
    width: 100%;
    margin: 0 auto;
  }
  background-icon,
  .mark-github-24-icon,
  .mask-group-icon {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .background-icon {
    height: 100%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 130px;
  }
  .cover {
    height: 700px;
  }
  .welcome-hackers-its {
    width: 40%;
    top: 30%;
    font-size: 10px;
  }
  .hacktoberfest-good-first-container {
    width: 56.67%;
    top: 20.26%;
    left: 18%;
    font-size: 20px;
    line-height: 20px;
  }
  .image-icon {
    height: 25%;
    width: 74%;
    bottom: 20.43%;
    left: 12.9%;
    border-radius: 0 0 16% 16%;
  }
  .cover-child {
    height: 8.88%;
    width: 12.88%;
    top: 35%;
    left: 17%;
  }
  .club-gamma {
    top: 4%;
    left: 2.15%;
    font-size: 50px;
    line-height: 50px;
  }
  button {
    left: 50%;
    max-width: 320px;
    padding: 0.5rem 1.4rem;
    font-size: 0.675rem;
    border-radius: 0.5rem;
    gap: 0.75rem;
    cursor: pointer;
    position: absolute;
    bottom: 12%;
    left: 19%;
  }
}
