
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
  background:radial-gradient(rgb(54, 135, 141),rgb(79, 110, 167));
  padding: 10px;
}


/* Add these styles for the improved navbar */
.navbar {
  background:linear-gradient(to left,rgb(74, 74, 155),rgb(74, 140, 167));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.navbar ul{
  display: flex;
}

.navbar ul li{
  list-style: none;
}

.navbar .logo-img {
  display: flex;
  margin-right: 20px;
}

.navbar .logo-img img {
  width: 60px;
  height: 60px;
  margin-right: 20px;

}

.navbar h1 {
  color: #fff;
  font-size: 1.5rem;
  align-self:center;
  margin: 0;
}

.navbar  {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}



.navbar  a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

/* Add these styles to enhance the hover effect */
.navbar  a:hover {
  color: #1f4a99;
}


.social-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.social-links {
  padding: 10px;
}

.social-links  a {
  color: black;
  margin: 0px  6px;
  text-decoration: none;
  font-size: 1.2rem;
}


.what-is-gfi{
  padding-top:3rem;
}
.what-is-gfi,
.motivation,
.how-to-contribute {
  
  margin: 20px;
  text-align: center;
}

.what-is-gfi h2,
.motivation h2,
.how-to-contribute h2 {
  font-size: 2rem;
  color: #3c30a8f3;
}

.what-is-gfi p,
.motivation p,
.how-to-contribute p {
  font-size: 1rem;
  line-height: 1.5;
}

.footer {
  background: linear-gradient(to left, rgb(74, 74, 155), rgb(74, 140, 167));
  padding: 20px;
  text-align: center;
  /* position: fixed;
   */
  position: relative;
  width: 99vw;
  color: #fff;
  /* margin-top: 20px; */
  margin-bottom: -20px;
  bottom: 0;
}

.footer a {
  color: #ffcc00;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer a:hover {
  color: #ff9900;
}

.about-container {
  padding: 2rem 12rem;
  background: #f3ebeb;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.about-container .About-logo {
  margin: auto;
  border-radius: 100%;
  margin-bottom: 1.5rem;
  width: 10rem;
}

.about-container h2 {
  color: #601f2a;
}

.about-container p {
  color: #474747;
}

.about-container hr {
  border: 10px dotted #acb9c6;
  border-top: none;
  width: 10%;
}

@media only screen and (width < 768px) {
  .about-container {
    padding: 2rem 4rem;
  }
  
  .about-container hr {
    border-width: 5px;
  }
}
