@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

/* General Styling */

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.intro {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* background-image: url(images/bg-intro-mobile.png); */
  background-color: black;
  /* border: 2px solid purple; */
  padding: 4.5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;

  text-align: center;
  /* border: 2px solid black; */
  margin: 1.5rem;
}

.left-col {
  flex: 1;

  color: white;
  margin-bottom: 2.5rem;
  /* border: 2px solid yellow; */
  font-weight: 400;
  max-width: 500px;
}

.left-col h1 {
  margin-bottom: 1rem;
}

/* .left-col p {} */

.right-col {
  flex: 1;
}

.top-box {
  padding: 1rem 2rem;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0 5px white;
  margin-bottom: 2rem;
}

.top-box p {
  font-weight: 400;
}

.top-box span {
  font-weight: 600;
}

.form-container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 7px green;
  overflow: hidden;
  padding-top: 0.5rem;
}

.input-group {
  position: relative;
  margin: 1rem 1rem;
}

.input-group label {
  display: none;
}

.input-group input {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  border-radius: 0.3rem;
  border: 1.5px solid hsl(246, 25%, 77%);
  outline: none;
  color: hsl(249, 10%, 26%);
  font-weight: 600;
}

textarea {
  border: 1.5px solid hsl(246, 25%, 77%);
  font-size: 0.9rem;
}

input:focus {
  border: 2px solid hsl(249, 10%, 26%);
}

input::placeholder {
  font-size: 0.8rem;
}

textarea::placeholder {
  font-size: 0.8rem;
  padding-left: 0.7rem;
}

button {
  width: 92%;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  background-color: hsl(154, 82%, 40%);
  box-shadow: 0 5px hsl(154, 91%, 33%);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

button:hover {
  background-color: hsl(154, 59%, 51%);
}

.form-footer {
  /* border: 2px solid blue; */
  margin: 0 1.5rem;
  margin-bottom: 1.5rem;
  color: hsl(246, 25%, 77%);
  font-size: 0.7rem;
  font-weight: 700;
}

.form-footer span {
  color: hsl(0, 100%, 74%);
  font-size: 0.8rem;
  font-weight: 700;
}

.error-icon {
  position: absolute;
  top: 25%;
  right: 20px;
}

.error-text {
  text-align: right;
  margin-top: 0.3rem;

  font-size: 0.7rem;
  font-style: italic;
  font-weight: 600;
  color: hsl(0, 100%, 74%);
}

.error-border {
  border: 3px solid red;
}

.no-error {
  display: none;
}

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
  }

  .left-col {
    text-align: left;
    margin-right: 4.5rem;
    width: 400px;
  }

  .left-col h1 {
    font-size: 2rem;
  }

  .left-col p {
    font-size: 0.8rem;
  }

  .right-col {
    max-width: 500px;
  }

  .form-container {
    padding: 1.5rem;
  }

  .form-footer {
    margin: 0 3rem;
  }
}
