.repo-bg {
  min-height: 100vh;
  background: #f3ebeb;
  text-align: center;
  padding: 2rem 12rem;
}

.repo-bg h2 {
  margin-bottom: 2rem;
}

@media only screen and (width < 900px) {
  .repo-bg {
    padding: 2rem 2rem;
  }
}