.header {
  background-color: rgb(243, 235, 235);
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.About-logo {
  width: 5rem;
}
.heading {
  color: red;
}
.social-links ul {
  display: flex;
  justify-content: center;
}
.social-links ul li {
  list-style: none;
  padding: 5px;
}
.social-links ul li a {
  color: black;
  
}

/* repositories css styling done from here */
.center{
  text-align: center;
  font-size: 2rem;
}
.repositories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:10;
  margin: 10px;

}
.repo-container{
  background-color: rgba(220, 230, 245, 0.301);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0.9;
  width: 25rem;
  height: 16rem;
}
.repo-name{
  opacity: 1;
  display: flex; 
  justify-content: center;
  color: rgba(0, 132, 255, 0.808);
}
.repo-name a{
  text-decoration: none;
  color: rgba(0, 132, 255, 0.808);
}
.repo-icons{
  padding: 5px;
}

.repo-description p{
  margin: 0px 5px 5px 2px;
  padding: 10px;
  line-height: 1px;
  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight:500px;
}

.contributor-names{

display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 10px;
padding: 5px;
}
.contributor-names .nameofcontributor{
color: rgb(7, 182, 252);
font-size: larger;
font-weight: 600;
}



















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
